fail_fast: true

exclude: |
  (?x)^(
    .vscode/
    |.devcontainer/
    |docs/.vscode/
  )

repos:
  - repo: https://github.com/biomejs/pre-commit
    rev: v2.1.3
    hooks:
      - id: biome-check
        files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: no-commit-to-branch
        name: no-commit-to-branch
        args: ["--pattern", "master|dev"]

  # not working
  # - repo: local
  #   hooks:
  #     - id: clang-format
  #       name: clang-format
  #       entry: ./scripts/format_clang.sh
  #       language: script
  #       pass_filenames: true

  - repo: local
    hooks:
    - id: check-todos
      name: Check for TODO comments
      # entry: sh -c 'rg "TODO" && exit 1 || exit 0'
      # entry: rg 'auca' --quiet
      entry: nu -c 'if (rg "TODO" | complete).exit_code == 0 { exit 1 } else { exit 0 }'
      language: system
      pass_filenames: false
      files: '.*'
