name: Dev Release

on:
  push:
    paths-ignore:
      - '.devcontainer/**'
      - '.github/ISSUE_TEMPLATE/**'
      - '.vscode/**'
      - 'docs/**'
      - 'images/**'
      - 'schema/**'
      - 'README.md'
    branches:
      - dev

defaults:
  run:
    shell: bash

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  CARGO_TERM_COLOR: always

jobs:
  windows:
    runs-on: windows-latest

    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/cache@main
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: actions/checkout@main
      - name: Build
        run: |
          cargo build --release
      - name: Test
        run: |
          cargo test \
            --release \
            --workspace \
            --exclude espanso-modulo \
            --exclude espanso-ipc \
            --no-default-features \
            --features native-tls
      - name: Build resources
        shell: pwsh
        run: |
            $env:EXEC_PATH = "target\release\espanso.exe"
            scripts\build_windows_resources.ps1
      - name: Download and install Inno Setup (missing in Windows Server 2025)
        run: choco install innosetup --no-progress
      - name: Build installer
        shell: pwsh
        run: |
            Install-Module -Name 'PSTOML' -Force
            scripts\build_windows_installer.ps1
      - name: Build portable mode archive
        shell: pwsh
        run: |
            scripts\build_windows_portable.ps1
      - uses: actions/upload-artifact@main
        name: "Upload artifacts"
        with:
          name: Windows Artifacts
          path: |
            target/windows/Espanso-Win-Installer-x86_64.exe
            target/windows/Espanso-Win-Portable-x86_64.zip

  linux-x11:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/cache@main
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: actions/checkout@main
      - name: Install Linux dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libx11-dev libxtst-dev libxkbcommon-dev libdbus-1-dev libwxgtk3.2-dev
      - name: Build docker image
        run: |
          sudo docker build -t espanso-ubuntu . -f .github/scripts/Dockerfile
      - name: Build
        run: |
          cargo build \
            -p espanso \
            --release \
            --no-default-features \
            --features vendored-tls,modulo
      - name: Build AppImage
        run: |
          sudo docker run \
            --rm \
            -v "$(pwd):/shared" \
            espanso-ubuntu \
            espanso/.github/scripts/ubuntu/build_appimage.sh
      - uses: actions/upload-artifact@main
        name: "Upload artifacts"
        with:
          name: Linux X11 AppImage Artifact
          path: |
            Espanso-X11.AppImage

  linux-deb:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/cache@main
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: actions/checkout@main
      - name: Install Linux dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libx11-dev libxtst-dev libxkbcommon-dev libdbus-1-dev libwxgtk3.2-dev
      - name: Build
        run: |
          cargo build \
            -p espanso \
            --release \
            --no-default-features \
            --features vendored-tls,modulo
      - name: Build docker image
        run: |
          sudo docker build -t espanso-ubuntu . -f .github/scripts/Dockerfile
      - name: Build Deb packages
        run: |
          sudo docker run --rm -v "$(pwd):/shared" espanso-ubuntu espanso/.github/scripts/ubuntu/build_deb.sh
      - uses: actions/upload-artifact@main
        name: "Upload artifacts"
        with:
          name: Linux Deb Artifacts
          path: |
            espanso-debian-x11-amd64.deb
            espanso-debian-wayland-amd64.deb

  macos:
    runs-on: macos-latest

    steps:
      - uses: actions/cache@main
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: actions/checkout@main
      - name: Test
        run: |
          rustup target add x86_64-apple-darwin
          cargo test \
            -p espanso \
            --target x86_64-apple-darwin \
            --no-default-features \
            --features native-tls,modulo
          cargo test \
            -p espanso \
            --target aarch64-apple-darwin \
            --no-default-features \
            --features native-tls,modulo
      - name: Build
        run: |
          rustup target add x86_64-apple-darwin
          cargo build \
            -p espanso \
            --target x86_64-apple-darwin \
            --release \
            --no-default-features \
            --features native-tls,modulo
          cargo build \
            -p espanso \
            --target aarch64-apple-darwin \
            --release \
            --no-default-features \
            --features native-tls,modulo
          bash ./scripts/create_bundle.sh
      - name: Create ZIP archive
        run: |
          ditto -c -k --sequesterRsrc --keepParent target/mac/Espanso.app Espanso-Mac-Universal.zip
      - uses: actions/upload-artifact@main
        name: "Upload artifacts"
        with:
          name: MacOS Artifacts
          path: |
            Espanso-Mac-Universal.zip
